@-webkit-keyframes slideDown {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

ul a {
  text-decoration: none;
}

body, a {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

h2 {
  font-family: "Shrikhand", sans-serif;
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
}

.platTitre {
  font-weight: bolder;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.platCommentaire {
  font-weight: lighter;
  margin: 0;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTitle {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin: 0px;
  font-weight: 900;
  padding-bottom: 2px;
}

.buttonExplorer {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  box-shadow: #d9d9d9 0px 7px 10px;
}
.buttonExplorer:hover {
  cursor: pointer;
  opacity: 0.85;
  box-shadow: #99E2D0 0px 3px 7px;
}

.fa-heart {
  align-self: center;
  font-size: 22px;
  padding: 0 20px 20px 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.fa-heart:hover {
  color: transparent;
  transition: all 1500ms ease;
  cursor: pointer;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-text-stroke-color: transparent;
}

.buttonCommander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  box-shadow: #d9d9d9 0px 7px 10px;
}
.buttonCommander:hover {
  cursor: pointer;
  opacity: 0.85;
  box-shadow: #99E2D0 0px 3px 7px;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 121, 217, 0.2352941176);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  -webkit-animation: loader 3s forwards;
          animation: loader 3s forwards;
}

.chargement {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 45%;
  width: 100px;
  height: 100px;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-animation: spin 1.5s infinite;
          animation: spin 1.5s infinite;
}

.logoBoxHeader {
  display: flex;
  height: 70px;
  width: auto;
  justify-content: center;
  align-items: center;
}

#logoHeader {
  height: 40%;
}

.headerPageMenu {
  display: flex;
  justify-content: center;
}

.fa-arrow-left {
  position: absolute;
  top: 25px;
  left: 23px;
  font-size: 18px;
  color: black;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
}

.sectionLocalisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgba(210, 207, 207, 0.5843137255);
  box-shadow: inset 0px 9px 15px -11px gray;
}

.fa-location-dot {
  padding-right: 5px;
  color: rgb(52, 51, 51);
}

.input {
  border: none;
  color: rgb(52, 51, 51);
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}

.sectionExplorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 7% 7% 10% 7%;
  background-color: rgba(185, 183, 183, 0.259);
}
@media screen and (min-width: 768px) {
  .sectionExplorer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.slogan {
  font-size: 25px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sectionFonctionnement {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  .sectionFonctionnement {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sectionFonctionnementEtape {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .sectionFonctionnementEtape {
    flex-direction: row;
    justify-content: space-between;
  }
}

.fonctionnementEtape {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .fonctionnementEtape {
    flex-grow: 1;
    margin-right: 10px;
  }
}

.fonctionnementNumero {
  background-color: #9356DC;
  border-radius: 20px;
  width: 33px;
  height: 26px;
  color: white;
  text-align: center;
  padding-top: 4px;
  z-index: 1;
}

.fonctionnementDetail {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 8px #f2f2f2;
  width: 100%;
  height: 65px;
  margin-left: -15px;
  padding-left: 10%;
  font-size: 15px;
  background-color: rgba(185, 183, 183, 0.259);
}

.fonctionnementDetail3 {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 8px #f2f2f2;
  width: 100%;
  height: 65px;
  margin-left: -15px;
  padding-left: 10%;
  font-size: 15px;
  background-color: rgba(146, 86, 220, 0.1647058824);
}

.fa-mobile-screen-button, .fa-list-ul {
  color: gray;
  font-size: x-large;
}

.fa-store {
  color: #9356DC;
  font-size: x-large;
}

.fonctionnementTexte {
  padding-left: 8%;
  font-weight: bold;
}

.sectionRestaurants {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(185, 183, 183, 0.259);
}
@media screen and (min-width: 768px) {
  .sectionRestaurants {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sectionRestaurantsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .sectionRestaurantsCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.cardRestaurant {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  height: 205px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}
.cardRestaurant a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.cardImage {
  height: 65%;
  width: 100%;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: black;
  padding: 10px;
}

.cardLieu {
  margin: 0px;
}

a {
  text-decoration: none;
}

.nouveau {
  position: absolute;
  top: -2px;
  right: 18px;
  padding: 6px 13px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 2px;
  color: #278870;
  background: #99E2D0;
}

footer {
  background-color: rgb(52, 51, 51);
  padding: 1% 5% 6% 5%;
  color: white;
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer ul li {
  color: white;
  display: flex;
  align-items: center;
  height: 30px;
}
footer ul li a {
  color: white;
  padding: 1% 0% 1% 0%;
}

@media screen and (min-width: 768px) {
  .footerCategorie ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.fa-utensils {
  padding-right: 20px;
}

.fa-handshake-angle {
  padding-right: 14px;
}

#logoFooter {
  height: 20px;
  font-size: 20px;
  color: white;
  font-family: "Shrikhand", sans-serif;
}

.cardImageMenu {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

.menu {
  padding: 24px 20px 50px 20px;
  margin-top: -51px;
  border-radius: 37px 32px 0 0;
  background-color: rgb(248, 247, 247);
  position: relative;
}

.menuComposition {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

hr {
  background-color: #99E2D0;
  width: 40px;
  height: 4px;
  border: none;
  position: absolute;
  margin-top: 43px;
}

.plat1, .plat2, .plat3, .plat4 {
  display: flex;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
  margin-bottom: 10px;
  padding-left: 10px;
}
.plat1:hover .checkbox, .plat2:hover .checkbox, .plat3:hover .checkbox, .plat4:hover .checkbox {
  opacity: 1;
  margin-right: 0px;
}
.plat1:hover .fa-circle-check, .plat2:hover .fa-circle-check, .plat3:hover .fa-circle-check, .plat4:hover .fa-circle-check {
  opacity: 1;
  transform: rotate(-720deg);
}

.plat1 {
  -webkit-animation: slideDown 1s ease-in-out;
          animation: slideDown 1s ease-in-out;
}

.plat2 {
  -webkit-animation: slideDown 1.5s ease-in-out;
          animation: slideDown 1.5s ease-in-out;
}

.plat3 {
  -webkit-animation: slideDown 2s ease-in-out;
          animation: slideDown 2s ease-in-out;
}

.plat4 {
  -webkit-animation: slideDown 2.5s ease-in-out;
          animation: slideDown 2.5s ease-in-out;
}

.platDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  overflow: hidden;
}

.prix {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  text-align: end;
  font-weight: bold;
  padding: 0 15px 10px 15px;
  flex-direction: column;
  width: 20%;
}

.menuButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkbox {
  height: 60px;
  width: 80px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  margin-right: -70px;
  transition: all 1s ease-in-out;
}

.fa-circle-check {
  color: white;
  transition: all 1s ease-in-out;
}/*# sourceMappingURL=main.css.map */