body {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

ul a {
  text-decoration: none;
}

body, a {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

h2 {
  font-family: "Shrikhand", sans-serif;
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
}

.platTitre {
  font-weight: bolder;
  margin: 0;
}

.platCommentaire {
  font-weight: lighter;
  margin: 0;
  font-size: small;
}

.cardTitle {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin: 0px;
  font-weight: 900;
  padding-bottom: 2px;
}

.cardLieu {
  margin: 0px;
}

hr {
  background-color: #99E2D0;
  width: 40px;
  height: 4px;
  border: none;
  position: absolute;
  margin-top: 43px;
}

.buttonExplorer {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

.fa-heart {
  align-self: center;
  font-size: 22px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.buttonCommander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

.logoBoxHeader {
  display: flex;
  height: 70px;
  width: auto;
  justify-content: center;
  align-items: center;
}

#logoHeader {
  height: 40%;
}

.headerPageMenu {
  display: flex;
  justify-content: center;
}

.fa-arrow-left {
  position: absolute;
  top: 25px;
  left: 23px;
  font-size: 18px;
  color: black;
}

.sectionLocalisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgba(210, 207, 207, 0.5843137255);
  box-shadow: inset 0px 9px 15px -11px gray;
}

.fa-location-dot {
  padding-right: 5px;
  color: rgb(52, 51, 51);
}

.input {
  border: none;
  color: rgb(52, 51, 51);
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}

.sectionExplorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 7% 7% 10% 7%;
  background-color: rgba(185, 183, 183, 0.259);
}
@media screen and (min-width: 768px) {
  .sectionExplorer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.slogan {
  font-size: 25px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sectionFonctionnement {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  .sectionFonctionnement {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sectionFonctionnementEtape {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .sectionFonctionnementEtape {
    flex-direction: row;
    justify-content: space-between;
  }
}

.fonctionnementEtape {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .fonctionnementEtape {
    flex-grow: 1;
    margin-right: 10px;
  }
}

.fonctionnementNumero {
  background-color: #9356DC;
  border-radius: 20px;
  width: 33px;
  height: 26px;
  color: white;
  text-align: center;
  padding-top: 4px;
  z-index: 1;
}

.fonctionnementDetail {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 8px #f2f2f2;
  width: 100%;
  height: 65px;
  margin-left: -15px;
  padding-left: 10%;
  font-size: 15px;
  background-color: rgba(185, 183, 183, 0.259);
}

.fonctionnementDetail3 {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 8px #f2f2f2;
  width: 100%;
  height: 65px;
  margin-left: -15px;
  padding-left: 10%;
  font-size: 15px;
  background-color: rgba(146, 86, 220, 0.1647058824);
}

.fa-mobile-screen-button, .fa-list-ul {
  color: gray;
  font-size: x-large;
}

.fa-store {
  color: #9356DC;
  font-size: x-large;
}

.fonctionnementTexte {
  padding-left: 8%;
  font-weight: bold;
}

.sectionRestaurants {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(185, 183, 183, 0.259);
}
@media screen and (min-width: 768px) {
  .sectionRestaurants {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sectionRestaurantsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .sectionRestaurantsCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.cardRestaurant {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 205px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}
.cardRestaurant a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.cardImage {
  height: 65%;
  width: 100%;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: black;
  padding: 10px;
}

a {
  text-decoration: none;
}

.cardImageMenu {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

.menu {
  padding: 24px 20px 50px 20px;
  margin-top: -51px;
  border-radius: 37px 32px 0 0;
  BACKGROUND-COLOR: rgb(248, 247, 247);
  position: relative;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
}

.menuComposition {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.plat {
  display: flex;
  height: 40px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: space-between;
}

.platDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prix {
  margin: 0;
  align-self: flex-end;
  font-weight: bold;
  padding-right: 15px;
}

.menuButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

footer {
  background-color: rgb(52, 51, 51);
  padding: 1% 5% 6% 5%;
  color: white;
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer ul li {
  color: white;
  display: flex;
  align-items: center;
  height: 30px;
}
footer ul li a {
  color: white;
  padding: 1% 0% 1% 0%;
}

@media screen and (min-width: 768px) {
  .footerCategorie ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.fa-utensils {
  padding-right: 20px;
}

.fa-handshake-angle {
  padding-right: 14px;
}

#logoFooter {
  height: 20px;
  font-size: 20px;
  color: white;
  font-family: "Shrikhand", sans-serif;
}/*# sourceMappingURL=main.css.map */