.logoBoxHeader {
    display: flex;
    height: 70px;
    width: auto;
    justify-content: center;
    align-items: center;
}

#logoHeader {
    height: 40%;
}

.headerPageMenu {
    display: flex;
    justify-content: center;
}

.fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 23px;
    font-size: 18px;
    color: black;
}