.buttonExplorer {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.fa-heart {
    align-self: center;
    font-size: 22px;
    padding-bottom: 20px;
    padding-right: 20px;
    
}

.buttonCommander {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}