.cardImageMenu {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.menu {
    padding: 24px 20px 50px 20px;
    margin-top: -51px;
    border-radius: 37px 32px 0 0;
    background-color: rgb(248, 247, 247);
    position: relative;
}

.menuComposition {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

hr {
    background-color: $colour-tertiaire;
    width: 40px;
    height: 4px;
    border: none;
    position: absolute;
    margin-top: 43px;
}

.plat1, .plat2, .plat3, .plat4 {
    display: flex;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    margin-bottom: 10px;
    padding-left: 10px;
    &:hover .checkbox {
        opacity: 1;
        margin-right: 0px;
    }
    &:hover .fa-circle-check{
        transform: rotate(-720deg);
    }
}

.plat1 {
    animation: slideDown 1s ease-in-out;
}

.plat2 {
    animation: slideDown 1.5s ease-in-out;
}

.plat3 {
    animation: slideDown 2s ease-in-out;
}

.plat4 {
    animation: slideDown 2.5s ease-in-out;
}


.platDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    overflow: hidden;
}

.prix {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    font-weight: bold;
    padding: 0 15px 10px 15px;
    flex-direction: column;
    width: 20%;
}

.menuButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.checkbox {
    height: 60px;
    width: 80px;
    background-color: $colour-tertiaire;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    margin-right: -70px;
    transition: all 1s ease-in-out;
}

.fa-circle-check {
  color : white;
  transition: all 1s ease-in-out;
}