.cardImageMenu {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.menu {
    padding: 24px 20px 50px 20px;
    margin-top: -51px;
    border-radius: 37px 32px 0 0;
    BACKGROUND-COLOR: rgb(248, 247, 247);
    position: relative;
}

.menuComposition {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.plat, .plat1, .plat2, .plat3 {
    display: flex;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
}

.plat1 {
    animation-delay: 0s;
    animation: slideDown 3s;
}

.plat2 {
    animation-delay: 2s;
    animation: slideDown 3s;
}

.plat3 {
    animation-delay: 4s;
    animation: slideDown 3s;
}


.platDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prix {
    margin: 0;
    align-self: flex-end;
    font-weight: bold;
    padding-right: 15px;
}

.menuButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
